<section class="bg-gray-800 py-10">

    <div class="bg-gray-800 max-w-7xl mx-auto px-6">
        <form [formGroup]="advancedForm">
        <mat-card
            class="bg-grey rounded-3xl shadow-2xl p-8 border border-zinc-800">
            <div class="flex-col justify-between items-center py-5 mb-8">
                <div>
                    <h1 class="text-4xl font-bold invert text-white">
                        {{'SEARCHBAR.Title'| translate}}
                    </h1>

                    <p class="text-zinc-400 mt-2">
                       {{'SEARCHBAR.Subtitle'| translate}}
                    </p>

                </div>
                <div class="flex justify-end mt-4">
                  <button
                        mat-button
                        color="primary" (click)="reset()">
                        <mat-icon>refresh</mat-icon>
                        Reset
                      </button>
                  </div>  
                <div class="flex justify-center">
                  <mat-button-toggle-group formControlName="type" class="my-5">

                                  <mat-button-toggle value="A vendre">
                                     {{'SEARCHBAR.AVENDRE'| translate}}
                                  </mat-button-toggle>

                                  <mat-button-toggle value="A louer">
                                      {{'SEARCHBAR.ALOUER'| translate }}
                                  </mat-button-toggle>

                  </mat-button-toggle-group>
                </div>
                
                <div class="grid grid-cols-1 md:grid-cols-5 xl:grid-cols-5 gap-6">

                  <mat-form-field appearance="outline">
                      <input
                          matInput
                          [placeholder]="'BIEN.Localisation'|translate"
                          formControlName="commune"
                           [matAutocomplete]="auto">

                      <mat-icon matPrefix>location_on</mat-icon>
                      <mat-autocomplete #auto="matAutocomplete">

                        @for(city of filteredCities | async; track city.commune) {

                          <mat-option [value]="city.commune">

                            {{city.commune}}
                            ({{city.postalCode}})

                          </mat-option>

                        }

                      </mat-autocomplete>

                  </mat-form-field>

                  <mat-form-field appearance="outline"><mat-icon matPrefix>home_work</mat-icon>
                      <mat-select [placeholder]="'BIEN.Type_de_bien'|translate" formControlName="typeDeBien">
                          @for( type of typesBien ;track type){
                            <mat-option [value]="type" > {{'TYPEOFPROPERTY.'+ type |translate}} </mat-option>
                          }
                      </mat-select>
                  </mat-form-field>

                  <mat-form-field appearance="outline">
                      <mat-icon matPrefix>euro</mat-icon>
                      <input
                          matInput
                          formControlName="minPrix"
                          [placeholder]="'SEARCHBAR.MIN_PRICE'| translate  "
                          type="number">

                  </mat-form-field>

                  <mat-form-field appearance="outline">
                    <mat-icon matPrefix>euro</mat-icon>
                      <input
                          matInput
                          type="number" 
                          formControlName="maxPrix"
                          [placeholder]="'SEARCHBAR.MAX_PRICE'| translate">

                  </mat-form-field>
                  <button
                    mat-flat-button
                  class="!bg-amber-500 hover:!bg-amber-400
                  text-black
                  rounded-full
                  px-12
                  py-6
                  text-lg
                  font-semibold"  (click)="onSearch()">

                    <mat-icon>search</mat-icon>
                      {{'SEARCHBAR.SEARCH'| translate}}
                  </button>
                </div>
                 
                  
          <mat-expansion-panel>

                  <mat-expansion-panel-header>

                      More Filters

                  </mat-expansion-panel-header>
                   <p class="text-2xl text-gray-900 font-bold mb-3">Infrastructure</p>
                <div class="grid grid-cols-1 md:grid-cols-4 xl:grid-cols-4 gap-6">

                  <mat-form-field appearance="outline">
                      <mat-icon matPrefix>square_foot</mat-icon>
                      <input
                          matInput
                          formControlName="minSuperficie"
                          [placeholder]="'SEARCHBAR.MIN_AREA'| translate "
                          type="number">

                  </mat-form-field>

                  <mat-form-field appearance="outline">
                    <mat-icon matPrefix>square_foot</mat-icon>
                      <input
                          matInput
                          type="number" 
                          formControlName="maxSuperficie"
                          [placeholder]="'SEARCHBAR.MAX_AREA'| translate">

                  </mat-form-field>
                </div>
                  <p class="text-2xl text-gray-900 font-bold mb-3">{{'BIEN.Classe_Energie'|translate}}</p>
                  <mat-form-field appearance="outline"><mat-icon matPrefix>eco</mat-icon>
                      <mat-select formControlName="peb" [placeholder]="'BIEN.PEB'|translate" >
                          @for( peb of pebs ;track peb){
                            <mat-option [value]="peb" > {{peb}} </mat-option>
                          }
                      </mat-select>
                  </mat-form-field>



                  <div class="grid grid-cols-1 md:grid-cols-4 xl:grid-cols-4 gap-6">
                    <mat-checkbox formControlName="jardin">
                      {{ 'BIEN.Jardin' | translate }}
                    </mat-checkbox>
                    <mat-checkbox formControlName="terrasse">{{'BIEN.Terrasse'| translate}}</mat-checkbox>
                    <mat-checkbox formControlName="garage">{{'BIEN.Garage'| translate}}</mat-checkbox>
                    <mat-checkbox formControlName="parking">{{'BIEN.Parking'| translate}}</mat-checkbox>
                    <mat-checkbox formControlName="cave">{{'BIEN.Cave'| translate}}</mat-checkbox>                          
                    <mat-checkbox formControlName="ascenseur">{{'BIEN.Ascenseur'| translate}} </mat-checkbox>                         
                    <mat-checkbox formControlName="piscine">{{'BIEN.Piscine'| translate}} </mat-checkbox>
                    <mat-checkbox formControlName="meuble">{{'BIEN.Meublé'| translate}} </mat-checkbox>
                  </div>
                  <div class="flex justify-end mt-10">

                    

                  <button
                    mat-button
                    color="primary" (click)="reset()">
                    <mat-icon>refresh</mat-icon>
                    Reset
                  </button>



                  <button
                  mat-flat-button
                  class="!bg-amber-500 hover:!bg-amber-400
                  text-black
                  rounded-full
                  px-12
                  py-6
                  text-lg
                  font-semibold" (click)="onSearch()">

                      <mat-icon>search</mat-icon>

                      Search Properties

                  </button>

                  </div>


              </mat-expansion-panel>
            
            </div>
            <!-- form -->
        </mat-card>
        </form>
        

    </div>

</section>