<section class="mx-auto w-full max-w-7xl px-4 py-8 sm:px-6 sm:py-10 lg:px-8">

  <p class="mb-8 text-center text-sm text-gray-500 sm:text-base">
    Results: {{ properties.length }}
  </p>

  <div
    class="grid w-full grid-cols-1 gap-20
           sm:grid-cols-2
           lg:grid-cols-3
           xl:grid-cols-4">

    @for (property of properties; track property.idBien) {
      <div class="w-full">
        <app-property-card
          [property]="property">
        </app-property-card>
      </div>
    }

  </div>

</section>