<div class="min-h-full">
  <main>
    <mat-sidenav-container class="h-screen bg-gray-100">

      <mat-sidenav-content>
        
        <!-- Main Content -->
        <main class="p-8">

          <div class="dashboard-container">

            <div class="header-section">
              <div>
                <h1>{{ 'ARTICLE.Heading' | translate }}</h1>
                <p class="subtitle">
                  {{ 'ARTICLE.SubHeading' | translate }}
                </p>
              </div>

              <button mat-raised-button color="primary" (click)="createBlog()">

                <mat-icon>add</mat-icon>
                {{ 'ARTICLE.NewArticle' | translate }}
              </button>
            </div>

            <mat-card class="table-card">
              <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons>
              </mat-paginator>

              <table mat-table [dataSource]="dataSource" class="article-table">

                <!-- Image -->
                <ng-container matColumnDef="image">
                  <th mat-header-cell *matHeaderCellDef></th>    

                  <td mat-cell *matCellDef="let article">
                    <img [src]="getImageUrl(article.image)" [alt]="article.title" class="article-image">
                  </td>
                </ng-container>

                <!-- Title -->
                <ng-container matColumnDef="title">
                  <th mat-header-cell *matHeaderCellDef>
                    {{'ARTICLE.TITLE'| translate}} 
                  </th>

                  <td mat-cell *matCellDef="let article">
                    <div class="article-info">
                      <span class="article-title">
                        {{article.title}}
                      </span>

                      
                    </div>
                  </td>
                </ng-container>

                <!-- Category -->
                <ng-container matColumnDef="category">
                  <th mat-header-cell *matHeaderCellDef>
                    {{'ARTICLE.CATEGORY'| translate}}
                  </th>

                  <td mat-cell *matCellDef="let article">
                    {{ article.category }}
                  </td>
                </ng-container>

                <!-- Url -->
                <ng-container matColumnDef="url">
                  <th mat-header-cell *matHeaderCellDef>
                    {{'ARTICLE.LINK'| translate}}
                  </th>
                  <td mat-cell *matCellDef="let article">
                    {{ article.link }}
                  </td>
                </ng-container>

                <!-- Content -->
                <ng-container matColumnDef="content">
                  <th mat-header-cell *matHeaderCellDef>
                    {{'ARTICLE.CONTENT'| translate}}
                  </th>

                  <td mat-cell *matCellDef="let article">
                    {{ article.content }}
                  </td>
                </ng-container>


                <!-- Actions -->
                <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef>
                    Actions
                  </th>

                  <td mat-cell *matCellDef="let article">

                    <button mat-icon-button color="primary" matTooltip="View" (click)="viewBlog(article.idArticle)">

                      <mat-icon>visibility</mat-icon>
                    </button>

                    <button mat-icon-button color="accent" matTooltip="Edit" (click)="editBlog(article.idArticle)">

                      <mat-icon>edit</mat-icon>
                    </button>

                    <button mat-icon-button color="warn" matTooltip="Delete" (click)="deleteBlog(article.idArticle)">

                      <mat-icon>delete</mat-icon>
                    </button>

                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

                <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                </tr>

              </table>


            </mat-card>

          </div>
        </main>

      </mat-sidenav-content>

    </mat-sidenav-container>
  </main>
</div>