<mat-toolbar color="primary" class="mat-elevation-z8">
    <button (click)="drawer.toggle()" mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button>
    <span>Real Estate Agent Dashboard</span>
    <span class="example-spacer"></span>
    
     <div class="flex items-center gap-4">

        <button mat-icon-button>
          <mat-icon>notifications</mat-icon>
        </button>

        <button mat-icon-button>
          <mat-icon>mail</mat-icon>
        </button>

        <div class="flex items-center gap-3">

          <img
            src="https://i.pravatar.cc/150?img=5"
            class="h-10 w-10 rounded-full border-2 border-white"
            alt="Employee">

          <div class="hidden md:block">

            <p class="font-medium">
              {{getUsername()}}
            </p>

            <p class="text-xs opacity-80">
              Real Estate Agent
            </p>

          </div>

        </div>

      </div>
</mat-toolbar>
<mat-drawer-container autosize>
    <mat-drawer #drawer opened="true" mode="side" position="start">
    <app-sidenav></app-sidenav>
    </mat-drawer>
    <mat-drawer-content>
        <div style="text-align: center;min-height: 600px;">

            <router-outlet></router-outlet>
            </div>
    </mat-drawer-content>
</mat-drawer-container>