<div class="container">
    <form (submit)="login()" [formGroup]="loginForm">
        <div class="font-heading text-2xl py-4 flex items-center justify-center">Login</div>
        <mat-form-field>
            <mat-label>Email</mat-label>
         <input matInput formControlName="email" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password</mat-label>
         <input matInput type="password" formControlName="password" required>
        </mat-form-field>
        <div class="example-button-row">
        <button  mat-flat-button [disabled]="loginForm.invalid" type="submit">Login</button>
        </div>
        @if(invalidCredentials){
            <mat-error>Invalid email or password</mat-error>
        }
         <div class="py-4 flex items-center justify-center">Pas encore inscrit?</div>
            <div class="example-button-row ">
            <button mat-stroked-button type="button" (click)="register()" >S'inscrire</button>
            </div>
    </form>
</div>

  
