.container {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: center;
  justify-content: center;
  width: 100%;
  height:100%;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 400px;
    justify-content: center;
}
mat-error {
    text-align: center;
}
.example-button-row {
  display: flex;
  justify-content: center;
  max-width: 600px;
}