<div class="min-h-full">
  <nav class="bg-gray-800"> 
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <div class="flex h-16 items-center justify-between">
        <div class="flex items-center">
          <div class="flex items-center justify-between shrink-0">
            
            <img class="size-8 invert brightness-0" src="images/home.png" alt="Your Company" />
            <span class="ml-4 text-white">ImmoHorizon</span>
          </div>
          <div class="hidden md:block">
            <div class="ml-10 flex items-baseline space-x-4">
              <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-white/5 hover:text-white" -->
              <a aria-current="page" class="rounded-md bg-gray-900 px-3 py-2 text-sm font-medium text-white" routerLink="/home">Home</a>
              <a class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-white/5 hover:text-white" routerLink="/about">{{ 'MENU.ABOUT_US' | translate }}</a>
              <a  class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-white/5 hover:text-white" routerLink="/properties">{{ 'MENU.PROPERTIES' | translate }}</a>
              <a class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-white/5 hover:text-white" routerLink="/blog">{{ 'MENU.BLOG' | translate }}</a>
              @if(getRole()=="Employe" || getRole()=="Admin"){
                <a href="#" aria-current="page" class="rounded-md bg-gray-900 px-3 py-2 text-sm font-medium text-white">Dashboard</a>
              }
            </div>
          </div>
          <div class="hidden md:block">
            <div class="ml-10 flex items-baseline space-x-4">
              <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-white/5 hover:text-white" -->
              
            </div>
          </div>
        </div>
        <div class="hidden md:block">
          <div class="ml-4 flex items-center md:ml-6 items-baseline space-x-4">
            <app-language-selector></app-language-selector>
             <!-- <button matButton [matMenuTriggerFor]="menu" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-white/5 hover:text-white">Language</button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="setLanguage('fr')">FR</button>
                <button mat-menu-item (click)="setLanguage('en')">EN</button>
                <button mat-menu-item (click)="setLanguage('nl')">NL</button>
              </mat-menu> -->
              @if(this.loginService.isLoggedIn()==true ) {
                @if(role==="Client"){
                  <button [matMenuTriggerFor]="user" class="ml-4 text-white text-center invert brightness-0" mat-button>Bienvenue {{getUsername()}}</button>
                  <mat-menu #user="matMenu">
                      <button mat-menu-item (click)="navToProfile()">Profile</button>
                      <button mat-menu-item (click)="navToSauvegarde()">Biens sauvegardés</button>
                      <button mat-menu-item (click)="navToSauvegarde()">Mes visites</button>
                      <button mat-menu-item (click)="navToSauvegarde()">Mes candidatures</button>
                      <button mat-menu-item (click)="navToSauvegarde()">Messagerie</button>

                    </mat-menu>
                }
                  @if(role==="Employe"){
                  <button class="ml-4 text-white invert brightness-0" [matMenuTriggerFor]="dashboard" mat-button>Bienvenue {{getUsername()}}</button>
                    <mat-menu #dashboard="matMenu">
                      <button mat-menu-item (click)="navToEmployeeDashboard()">Dashboard</button>
                      <button mat-menu-item (click)="navToProfile()">Profile</button>
                    </mat-menu>
                  } 
                  @if(role==="Admin"){
                  <button class="ml-4 text-white invert brightness-0" [matMenuTriggerFor]="dashboard" mat-button>Bienvenue {{getUsername()}}</button>
                    <mat-menu #dashboard="matMenu">
                      <button mat-menu-item (click)="navToAdminDashboard()">Dashboard</button>
                      <button mat-menu-item (click)="navToProfile()">Profile</button>
                    </mat-menu>
                  } 
                
                
                <button mat-button (click)="logout()" class="text-white px-4 invert brightness-0 py-2 rounded-md hover:bg-slate-700">
                  <mat-icon>power_settings_new</mat-icon>
                  <span>{{ 'MENU.LOGOUT' | translate }}</span>
                </button>
              } @else {
                <button type="button" (click)="openLogin()" class="relative rounded-full p-1 text-gray-400 hover:text-white focus:outline-2 focus:outline-offset-2 [#c9a227]">
                <span class="absolute -inset-1.5"></span>
                <span class="material-icons">person</span>
                </button>
                 } 
              
            
          </div>
        </div>
        <div class="-mr-2 flex md:hidden">
          <!-- Mobile menu button -->
          <button type="button" command="--toggle" commandfor="mobile-menu" class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-white/5 hover:text-white focus:outline-2 focus:outline-offset-2 [#c9a227]0">
            <span class="absolute -inset-0.5"></span>
            <span class="sr-only">Open main menu</span>
            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6 in-aria-expanded:hidden">
              <path d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6 not-in-aria-expanded:hidden">
              <path d="M6 18 18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </button>
        </div>
      </div>
    </div>

    
  </nav>
  @if( getRole()=='CLIENT'){
  <mat-toolbar class="bg-white shadow-sm px-8 h-20 flex justify-between">

  <!-- Logo -->
  <div class="flex items-center">
    <a routerLink="/" class="text-4xl font-bold text-blue-700">
      ImmoHorizon
    </a>
  </div>

  <!-- Navigation -->
  <nav class="hidden md:flex items-center gap-12">

    <a
      mat-button
      routerLink="avendre"
      class="nav-link">
      <mat-icon>home</mat-icon>
      <span>{{'BIEN.FORSALE'| translate}} </span>
    </a>

    <a
      mat-button
      routerLink="alouer"
      class="nav-link">
      <mat-icon>key</mat-icon>
      <span> {{'BIEN.FORRENT'| translate}} </span>
    </a>

    <a
      mat-button
      routerLink="/new"
      class="nav-link">
      <mat-icon>apartment</mat-icon>
      <span>Neuf</span>
    </a>

    <a
      mat-button
      routerLink="/professionnels"
      class="nav-link">
      <mat-icon>business_center</mat-icon>
      <span>Professionnels</span>
    </a>

  </nav>

  <!-- CTA -->
  <button
    mat-raised-button
    color="primary"
    class="publish-btn">

    <mat-icon>add</mat-icon>
    Publier une annonce

  </button>

</mat-toolbar>
}
<router-outlet />
</div>

<app-footer></app-footer>