<div class="min-h-full">
  <nav class="bg-gray-800"> 
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <div class="flex h-16 items-center justify-between">
        <div class="flex items-center">
          <div class="flex items-center justify-between shrink-0">
            
            <img class="size-8 invert brightness-0" src="images/home.png" alt="Your Company" />
            <span class="ml-4 text-white">ImmoHorizon</span>
          </div>
          <div class="hidden md:block">
            <div class="ml-10 flex items-baseline space-x-4">
              <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-white/5 hover:text-white" -->
              <a href="#" aria-current="page" class="rounded-md bg-gray-900 px-3 py-2 text-sm font-medium text-white">Home</a>
              <a href="#" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-white/5 hover:text-white" href="/">{{ 'MENU.ABOUT_US' | translate }}</a>
              <a href="#" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-white/5 hover:text-white" href="/properties">{{ 'MENU.PROPERTIES' | translate }}</a>
              <a href="#" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-white/5 hover:text-white" href="/">{{ 'MENU.BLOG' | translate }}</a>
            </div>
          </div>
        </div>
        <div class="hidden md:block">
          <div class="ml-4 flex items-center md:ml-6 items-baseline space-x-4">
             <button matButton [matMenuTriggerFor]="menu" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-white/5 hover:text-white">Language</button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="setLanguage('fr')">FR</button>
                <button mat-menu-item (click)="setLanguage('en')">EN</button>
                <button mat-menu-item (click)="setLanguage('nl')">NL</button>
              </mat-menu>
              @if(this.loginService.isLoggedIn()==true) {
                <div class="ml-4 text-white invert brightness-0"> Bienvenue {{ getUsername() }}! </div>
                <button mat-button (click)="logout()" class="text-white px-4 invert brightness-0 py-2 rounded-md hover:bg-slate-700">
                  <mat-icon>power_settings_new</mat-icon>
                  <span>{{ 'MENU.LOGOUT' | translate }}</span>
                </button>
              } @else {
                <button type="button" (click)="openLogin()" class="relative rounded-full p-1 text-gray-400 hover:text-white focus:outline-2 focus:outline-offset-2 [#c9a227]">
                <span class="absolute -inset-1.5"></span>
                <span class="material-icons">person</span>
                </button>
                 } 
              
            
          </div>
        </div>
        <div class="-mr-2 flex md:hidden">
          <!-- Mobile menu button -->
          <button type="button" command="--toggle" commandfor="mobile-menu" class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-white/5 hover:text-white focus:outline-2 focus:outline-offset-2 [#c9a227]0">
            <span class="absolute -inset-0.5"></span>
            <span class="sr-only">Open main menu</span>
            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6 in-aria-expanded:hidden">
              <path d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6 not-in-aria-expanded:hidden">
              <path d="M6 18 18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </button>
        </div>
      </div>
    </div>

    
  </nav>
<router-outlet />
</div>
<app-footer></app-footer>