<!-- Sidebar -->


   <div mode="side"
    opened
    class="w-72 border-r bg-white">

    <!-- Logo -->
    <div class="flex items-center gap-3 border-b px-6 py-5">
      <div
        class="flex h-12 w-12 items-center justify-center rounded-lg bg-blue-600 text-white">
        <mat-icon>home_work</mat-icon>
      </div>

      <div>
        <h2 class="text-lg font-bold text-gray-800">
          Immo Horizon
        </h2>
        <p class="text-sm text-gray-500">
          Employee Portal
        </p>
      </div>
    </div>

    <!-- Menu -->
    <mat-nav-list>

      <a
        mat-list-item
        href="/employee/dashboard/content"
        routerLinkActive="bg-blue-50 text-blue-600 rounded-lg mx-2">

        <mat-icon matListItemIcon>dashboard</mat-icon>

        <span matListItemTitle>
          Dashboard
        </span>

      </a>

      <a
        mat-list-item
        href="employee/dashboard/properties"
        routerLinkActive="bg-blue-50 text-blue-600 rounded-lg mx-2">

        <mat-icon matListItemIcon>apartment</mat-icon>

        <span matListItemTitle>
          Properties
        </span>

      </a>

      <a
        mat-list-item
        routerLink="/employees"
        routerLinkActive="bg-blue-50 text-blue-600 rounded-lg mx-2">

        <mat-icon matListItemIcon>groups</mat-icon>

        <span matListItemTitle>
          Employees
        </span>

      </a>

      <a
        mat-list-item
        routerLink="/clients"
        routerLinkActive="bg-blue-50 text-blue-600 rounded-lg mx-2">

        <mat-icon matListItemIcon>person</mat-icon>

        <span matListItemTitle>
          Candidatures
        </span>

      </a>
      <a
        mat-list-item
        routerLink="/clients"
        routerLinkActive="bg-blue-50 text-blue-600 rounded-lg mx-2">

        <mat-icon matListItemIcon>date_range</mat-icon>

        <span matListItemTitle>
          Calendrier
        </span>

      </a>
      <a
        mat-list-item
        routerLink="/clients"
        routerLinkActive="bg-blue-50 text-blue-600 rounded-lg mx-2">

        <mat-icon matListItemIcon>subject</mat-icon>

        <span matListItemTitle>
          Blog
        </span>

      </a>
      <a
        mat-list-item
        routerLink="/clients"
        routerLinkActive="bg-blue-50 text-blue-600 rounded-lg mx-2">

        <mat-icon matListItemIcon>description</mat-icon>

        <span matListItemTitle>
          Contrats
        </span>

      </a>

    </mat-nav-list>

