<section class="blog-hero">

    <div class="hero-overlay">

        <h1 class="text-3xl sm:text-4xl md:text-5xl">
            {{ 'Blog.Title' | translate }}
        </h1>

        <p class="text-sm sm:text-base md:text-lg">
            {{ 'Blog.Buying' | translate }} • {{ 'Blog.Selling' | translate }} • {{ 'Blog.Renting' | translate }} • {{ 'Blog.Investment' | translate }} • {{ 'Blog.Advice' | translate }}
        </p>

        <mat-form-field
            appearance="outline"
            class="search w-full max-w-xl">

            <mat-icon matPrefix>search</mat-icon>

            <input
                matInput
                placeholder="{{ 'Blog.Search' | translate }}"
                [(ngModel)]="searchText"
                (input)="filterArticles()">

        </mat-form-field>

    </div>

</section>


<div class="container w-full">

    <!-- Categories -->
    <div class="categories">

        <button
            mat-stroked-button
            color="primary"
            class="shrink-0">
            {{ 'Blog.All' | translate }}
        </button>

        <button
            mat-button
            class="shrink-0">
            {{ 'Blog.Buying' | translate }}
        </button>

        <button
            mat-button
            class="shrink-0">
            {{ 'Blog.Selling' | translate }}
        </button>

        <button
            mat-button
            class="shrink-0">
            {{ 'Blog.Renting' | translate }}
        </button>

        <button
            mat-button
            class="shrink-0">
            {{ 'Blog.Investment' | translate }}
        </button>

        <button
            mat-button
            class="shrink-0">
            {{ 'Blog.Advice' | translate }}
        </button>

    </div>


    <!-- Articles -->
    <section class="articles-grid">

        @for (article of filteredArticles | search:searchText; track $index) {

            @if (article.image) {

                <mat-card class="article-card">

                    <img
                        mat-card-image
                        [src]="article.image"
                        [alt]="article.title">

                    <mat-card-content>

                        <span class="category my-4">
                            {{ article.category.split(" ")[0] }}
                        </span>

                        <h3>
                            {{ article.title }}
                        </h3>

                        <p>
                            {{ article.description }}
                        </p>

                        <button
                            mat-button
                            color="primary"
                            class="read-button"
                            (click)="goTo(article.link)">

                            {{ 'Blog.ReadMore' | translate }}

                        </button>

                    </mat-card-content>

                </mat-card>

            }

        }

    </section>

</div>