<div class="col-span-4">

        <div
          class="sticky top-6 bg-white shadow-md p-8"
        >

          <h3 class="text-2xl font-light mb-6">
            {{'CONTACT.ContacterAgence'| translate}}
          </h3>

          <img
            
            class="h-16 object-contain mb-6"
          />

          <h4 class="font-semibold text-lg text-center">
            ImmoHorizon
          </h4>

          <p class="text-gray-600 text-center">
            Rue Léon Lepage 57,
            <br> 1000 Bruxelles
          </p>

          <button
            mat-stroked-button
        class="saved-search-btn text-center m-3"
          >
            {{'CONTACT.DemandeInfos' | translate }}
          </button>

          <button
            mat-stroked-button
        class="saved-search-btn text-center m-3"
          >
            {{'CONTACT.ContacterAgence' | translate }}
          </button>

        </div>

</div>