<mat-card  class="property-card flex justify-center items-center py-2">

  <mat-card-title class="text-center w-full p-10">{{ 'BIEN.Create' | translate }}</mat-card-title>

  <mat-card-content>

    <!-- FORM -->
    <form [formGroup]="form">

      <mat-form-field appearance="outline" class="full-width">
        
        <input placeholder="{{ 'BIEN.Title' | translate }}" matInput formControlName="title">
      </mat-form-field>
      
        <mat-form-field appearance="outline" class="full-width">
            <input placeholder="{{ 'BIEN.Type_de_bien' | translate }}" matInput formControlName="typeDeBien">
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
        <input placeholder="{{ 'BIEN.VILLE' | translate }}" matInput formControlName="commune">
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        
        <textarea placeholder="{{ 'BIEN.Description' | translate }}" matInput formControlName="description"></textarea>
      </mat-form-field>
      
      <mat-form-field class="full-width" >
        <mat-label>{{ 'BIEN.Prix' | translate }}</mat-label>
        <input placeholder="{{ 'BIEN.Prix' | translate }}" matInput type="number" formControlName="prix">
      </mat-form-field>
        <mat-form-field  class="full-width">
            <mat-label>{{ 'BIEN.Surface_habitable' | translate }}</mat-label>
            <input type="number" matInput placeholder="{{ 'BIEN.Surface_habitable' | translate }}" formControlName="superficie">
         </mat-form-field>

  <mat-form-field  class="full-width">
    <mat-label>{{ 'BIEN.Chambres' | translate }}</mat-label>
    <input type="number" matInput placeholder="{{ 'BIEN.Chambres' | translate }}" formControlName="chambres">
  </mat-form-field>

  <mat-form-field  class="full-width">
    <mat-label>{{ 'BIEN.PEB' | translate }}</mat-label>
    <input matInput placeholder="{{ 'BIEN.PEB' | translate }}" formControlName="peb">
  </mat-form-field>

  <mat-form-field  class="full-width">
    <mat-label>{{ 'BIEN.EnergieTotale' | translate }}</mat-label>
    <input type="number" matInput placeholder="{{ 'BIEN.EnergieTotale' | translate }}" formControlName="energieTotale">
  </mat-form-field>

  <mat-form-field  class="full-width">
    <mat-label>{{ 'BIEN.EnergieSpécifique' | translate }}</mat-label>
    <input type="number" matInput placeholder="{{ 'BIEN.EnergieSpécifique' | translate }}" formControlName="energieSpecifique">
  </mat-form-field>

  <mat-form-field  class="full-width">
    <mat-label>{{ 'BIEN.Emissions_CO2' | translate }}</mat-label>
    <input type="number" matInput placeholder="{{ 'BIEN.Emissions_CO2' | translate }}" formControlName="emissionCO2">
  </mat-form-field>

  <mat-form-field  class="full-width">
    <mat-label>{{ 'BIEN.RUE' | translate }}</mat-label>
    <input matInput placeholder="{{ 'BIEN.RUE' | translate }}" formControlName="rue">
  </mat-form-field>

  <mat-form-field  class="full-width">
    <mat-label>{{ 'BIEN.NUMERO' | translate }}</mat-label>
    <input type="number" matInput placeholder="{{ 'BIEN.NUMERO' | translate }}" formControlName="numero">
  </mat-form-field>

  <mat-form-field  class="full-width">
    <mat-label>{{ 'BIEN.CODE_POSTAL' | translate }}</mat-label>
    <input type="number" matInput placeholder="{{ 'BIEN.CODE_POSTAL' | translate }}" formControlName="code_postal">
  </mat-form-field>

  <mat-form-field  class="full-width">
    <mat-label>{{ 'BIEN.VILLE' | translate }}</mat-label>
    <input matInput placeholder="{{ 'BIEN.VILLE' | translate }}" formControlName="commune">
  </mat-form-field>

  <mat-form-field  class="full-width">
    <mat-label>{{ 'BIEN.Façades' | translate }}</mat-label>
    <input type="number" matInput placeholder="{{ 'BIEN.Façades' | translate }}" formControlName="facades">
  </mat-form-field>

  <mat-form-field  class="full-width">
    <mat-label>{{ 'BIEN.Année_de_construction' | translate }}</mat-label>
    <input type="number" matInput placeholder="{{ 'BIEN.Année_de_construction' | translate }}" formControlName="annee_construction">
  </mat-form-field>

  <mat-form-field  class="full-width">
    <mat-label>{{ 'BIEN.Disponibilité' | translate }}</mat-label>
    <input type="date" matInput placeholder="{{ 'BIEN.Disponibilité' | translate }}" formControlName="disponibilite">
  </mat-form-field>

  <mat-form-field  class="full-width">
    <mat-select placeholder="{{'BIEN.Etat' | translate}}" formControlName="etat">
        @for(etat of etats; track etat){
      <mat-option [value]="etat">
        {{ etat }}
      </mat-option>
        }
    </mat-select>
  </mat-form-field>


  <mat-form-field class="full-width">
    <mat-label>{{ 'BIEN.Etages' | translate }}</mat-label>
    <input type="number" matInput placeholder="{{ 'BIEN.Etages' | translate }}" formControlName="etages">
  </mat-form-field>

  <mat-form-field  class="full-width">
    <mat-label>{{ 'BIEN.Surface' | translate }}</mat-label>
    <input type="number" matInput placeholder="{{ 'BIEN.Surface' | translate }}" formControlName="surfaceHabitable">
  </mat-form-field>

  <mat-form-field  class="full-width">
    <mat-label>{{ 'BIEN.SurfaceJardin' | translate }}</mat-label>
    <input type="number" matInput placeholder="{{ 'BIEN.Surface_Jardin_Terrasse' | translate }}" formControlName="surfaceJardinTerrasse">
  </mat-form-field>

  <!-- BOOLEAN FIELDS -->
  <mat-checkbox formControlName="parking">Parking</mat-checkbox>
  <mat-checkbox formControlName="garage">Garage</mat-checkbox>
  <mat-checkbox formControlName="jardin">{{ 'BIEN.Jardin' | translate }}</mat-checkbox>
  <mat-checkbox formControlName="terrasse">{{ 'BIEN.Terrasse' | translate }}</mat-checkbox>
  <mat-checkbox formControlName="cave">Cave</mat-checkbox>
  <!-- Select dropdown -->
  
  <!-- OWNER -->
  <mat-form-field class="px-20" appearance="outline">
    <mat-select placeholder="Propriétaire" formControlName="proprietaire">
      <mat-option *ngFor="let user of users" [value]="user">
        {{ user.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

    </form>

    <!-- DRAG & DROP AREA -->
    <div
      class="drop-zone"
      cdkDropList
      (cdkDropListDropped)="onDrop($event)"
      (click)="fileInput.click()"
    >
      <p>Drag & Drop images here or click to upload</p>
      <input type="file"
             #fileInput
             multiple
             hidden
             (change)="onFileSelected($event)">
    </div>

    <!-- IMAGE PREVIEW -->
    <div class="image-grid">
        @for (img of images; track $index; let i = $index) {
      <div class="image-card">

        <img [src]="img.url">

        <!-- PRIMARY BADGE -->
         @if(img.isPrimary) {
        <div class="badge" >
          ⭐ Primary
        </div>
        } 
        <!-- ACTIONS -->
        <div class="actions">

          <button mat-button color="primary"
                  (click)="setPrimary(i)">
            Set Primary
          </button>

          <button mat-button color="warn"
                  (click)="removeImage(i)">
            Remove
          </button>

        </div>

      </div>
        }

    </div>

  </mat-card-content>

  <mat-card-actions>
    <button mat-flat-button color="primary"
            (click)="submit()">
      {{'BIEN.Save' | translate}}
    </button>
  </mat-card-actions>

</mat-card>