
<section class="bg-gradient-to-r from-blue-50 to-yellow-50 rounded-3xl p-12 mb-12">

  <h1 class="text-5xl font-extrabold text-slate-900 mb-4">
    {{ 'SLOGAN.TITLE' | translate }}
  </h1>

  <p class="text-xl text-slate-600 max-w-3xl leading-relaxed">
    {{'SLOGAN.TEXT' | translate}}
  </p>

  <div class="mt-8 flex gap-4">
    <button mat-raised-button color="primary">
      {{'SLOGAN.EXPLORE' | translate}}
    </button>

    <button mat-stroked-button>
      {{'SLOGAN.CONTACT' | translate }}
    </button>
  </div>

</section>

<app-searchbar (search)="onSearch($event)"></app-searchbar>

<main>
    
      <app-properties-list
            [criteria]="criteria"
            [showAll]="showAll">
        </app-properties-list>
        <div class="flex justify-center mb-8">
          <div class="text-center font-bold text-slate-900">
          <button (click)="showAllProperties()"
          class="text-center" mat-button color="primary">
            Voir tout les biens
          </button>
          </div>
        </div>  
  </main>



