<footer class="footer">

    <div class="container">

        <div class="logo">
            <h2>ImmoHorizon</h2>
            <p>
                {{ 'FOOTER.SLOGAN' | translate }}
            </p>
        </div>

        <div class="links">

            <div>
                <h4>{{ 'SERVICES.Title' | translate }}</h4>

                
                    <a href="#">{{ 'SERVICES.SELL' | translate }}</a>
                    <a href="#">{{ 'SERVICES.BUY' | translate }}</a>
                    <a href="#">{{ 'SERVICES.RENT' | translate }}</a>
                    <a href="#">{{ 'SERVICES.EVALUATE' | translate}}</a>
                

            </div>
  
                <h4><a href="#">{{ 'FOOTER.COMPANY' | translate }}</a></h4>

            </div>



            <div class="contact">
                <h4><a href="#">{{ 'FOOTER.CONTACT_US' | translate }}</a></h4>

                <p class="contact-phone">+32 2 000 00 00</p>
                <p class="contact-email">contact&#64;ImmoHorizon.be</p>
            </div>

        </div>


<div class="footer-bottom">

  <span class="copyright">
   {{ 'FOOTER.COPYRIGHT' | translate }}
  </span>

  <div class="legal-links">
    <a href="#">{{ 'LEGAL.TERMS_AND_CONDITIONS' | translate }}</a>
    <a href="#">{{ 'LEGAL.PRIVACY_POLICY' | translate }}</a>
    <a href="#">{{ 'LEGAL.LEGAL_NOTICES' | translate }}</a>
    <a href="#">{{ 'LEGAL.COOKIES_POLICY' | translate }}</a>
  </div>

</div>

</footer>